{% block body %}

<table>
    <thead>

    </thead>

    <tbody>
        {% for annonce in annonces %}
            {% for champ in annonce %}
                <td>champ</td>
            {% endfor %}
        {% endfor %}
    </tbody>

    <tfoot></tfoot>
</table>

{% endblock %}