<<<<<<< HEAD
{% block body %}

<table>
    <thead>

    </thead>

    <tbody>
        {% for annonce in annonces %}
            {% for champ in annonce %}
                <td>champ</td>
            {% endfor %}
        {% endfor %}
    </tbody>

    <tfoot></tfoot>
</table>

{% endblock %}
=======
{% extends "menu/admin.html.twig" %}

{% block body %}
    
    <table class="table">
    {% for annonce in annonces %}
        <tr>
            <td>{{ annonce.titre }}</td>
            <td>{{ annonce.membre.pseudo }}</td>
        </tr>
    {% endfor %}
    </table>
    
{% endblock %}
>>>>>>> 0227
