<div class="columns box">
    <div class="column is-one-quarter">
        <img src="{{ dossier_images_annonces ~ annonce.photo.photo1 }}" class="vignette">
    </div>
    <div class="column">
        <h5>{{ annonce.titre }}</h5>
        <p>{{ annonce.descriptioncourte }}</p>
    </div>
</div>
<br>
