<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags("app") }}
        {% endblock %}
    </head>
    <body>

        {% block nav %}{% endblock %}

        <section class="section is-centered">
            <div class="container">
                {# MESSAGES #}
                {% include "message.twig" %}                
                <main class="columns">
                    <aside class="column is-one-quarter">
                        <form method="POST">
                            <div>
                                <label>Catégorie</label>
                            </div>

                            <div>
                                <label>Régions</label>
                            </div>
                            
                            <div>
                                <label>Membres</label>
                            </div>

                            <div>
                                <label>Prix</label>
                                <input type=range name="prix" min=0 max=10000>
                            </div>
                            
                            <button>Filtrer</button>
                        </form>
                    </aside>

                    <section class="column">
                    {% block body %}
                        {% for ann in annonces %}
                            <p>{{ ann.titre }}</p>
                        {% endfor %}                                
                    {% endblock %}
                    </section>
                </main>

                {% block javascripts %}
                    {{ encore_entry_script_tags("app") }}
                {% endblock %}
            </div>
        </section>
    </body>
</html>
