{% extends "menu/admin.html.twig" %}

{% block body %}
    <table class="table">
        <thead>
            <th>Titre</th>
            <th>Mots-Clés</th>
            <th colspan=2>Actions</th>
        </thead>
        
    {% for categorie in categories %}
        <tr>
            <td>{{ categorie.titre }}</td>
            <td>{{ categorie.motscles }}</td>
            <td>
                <a class="fa fa-pen" href={{ path("categorie_modify", { id: categorie.id }) }}></a>
            </td>
            <td>
                <a  href={{ path("categorie_erase", { id: categorie.id }) }}>
                    <i class="fa fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </table>
    
{% endblock %}
